<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html"> </head>
<body>
    <div class="wrapper" style="height: 100%;">
        <!-- Sidebar  -->
        <nav id="sidebar" class="active bg-dark">
            <div class="sidebar-header bg-dark">
                <h4 class="text-center" th:text="#{add.items}"></h4>
                
            </div>
			<div class="row">
			  <div class="col-md-12 mt-4">
			  	<div class="text-center">
				  <img data-toggle="modal" data-target="#modalAddItem" functionInsert="addEntity" src="static/images/entidad.png" class="rounded closeSide insertarDatos" alt="Add Entity" style="cursor: pointer;">
				</div>
			  <p class="text-center">Entity</p>
			  </div>
			  <div class="col-md-12 mt-4">
			  	<div class="text-center">
				  <img data-toggle="modal" data-target="#modalAddItem" functionInsert="addRelation" src="static/images/relation.png" class="rounded closeSide insertarDatos" alt="Add Relation" style="cursor: pointer;">
				</div>
				<p class="text-center">Relation</p>
			</div>
			  <div class="col-md-12 mt-4">
			  	<div class="text-center">
				  <img id="addIsA" functionInsert="addIsA" src="static/images/isA.png" class="rounded closeSide insertarDatos" alt="Add IsA" style="cursor: pointer;">
				</div>
				<p class="text-center">IsA</p>
			</div>
			  <div class="col-md-12 mt-4">
			  	<div class="text-center">
				  <img data-toggle="modal" data-target="#modalAddItem" functionInsert="addAtribute" src="static/images/attribute.png" class="rounded closeSide insertarDatos" alt="Add Attribute" style="cursor: pointer;">
				</div>
				<p class="text-center">Attribute</p>
			</div>
			</div>
        </nav>

        <!-- Page Content  -->
        <div id="wrapper" style="width: 100%;">
	    	<div class="pos-f-t">
	            <div class="collapse" id="navbarToggleExternalContent">
	              <div class="bg-dark p-4">
	                <h5 class="text-white h4">DBCase Web</h5>
	                <span class="text-muted">Toggleable via the navbar brand.</span>
	              </div>
	            </div>
	            <nav class="navbar navbar-dark bg-dark mb-0">
	              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
	                <span class="navbar-toggler-icon"></span>
	              </button>
	              <span class="text-light text-center">DBCASE WEB</span>
	               <div><span class="text-light text-center size-font" th:text="${perfil.userAuthentication.Details.name}"></span>
	              <span class="text-light text-center"><a href="/logout">Cerrar Sesión</a></span></div>
	            </nav>
	         </div>
          	<div  style="height: 89%;">
				<div class="row mr-0" style="height: 50%;">
				  <div class="col-md-6" style="overflow-x: auto;overflow-y: auto;height: 100%;">
					<div id="diagram" style="width: 100%;height: 100%;">
					</div>
					<button type="button" id="sidebarCollapse" class="btn btn-dark" style="position: absolute;top: 0px;left: 15px;">
                        <span style="writing-mode: vertical-rl;text-orientation: upright;line-height: 0px;font-size: 12px;letter-spacing: -3px;">Add Items</span>
                    </button>
                  </div>
				  <div class="col-md-6">.col-6 .col-md-4</div>
				</div>
				<div class="row mr-0" style="height: 50%;">
				  <div class="col-md-6">.col-12 .col-md-8</div>
				  <div class="col-md-6">.col-6 .col-md-4</div>
				</div>
			</div>
            <div th:replace="footer.html"> </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse, .closeSide').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            
            $('.closeSide').on('click', function() {
                $('#titleModal').html(this.getAttribute("alt"));
                $('#tipoAdd').val(this.getAttribute("functionInsert"));
            });
            
            $('#addIsA').on('click', function() {
            	addIsA();
            });
            
            
            
            $('#insertModal').on('click', function() {
            	switch($('#tipoAdd').val()) {
		          	  case "addEntity":
		          		addEntity($('#recipient-name').val(), $('#weak-entity').prop('checked') );
		          	    break;
		          	  case "addRelation":
		          		addRelation($('#recipient-name').val());
		          	    break;
		          	  case "addAtribute":
		            	break;
		          	  case "addIsA":
		            	break;
		          	  default:
		          	}
            	limpiar();
            });
            
            $('.insertarDatos').on('click', function() {
            	var insert = ""
            	switch($(this).attr("functionInsert")) {
            	  case "addEntity":
            		  insert = '<form id="formInsert">'+
            		          				'<div class="form-group">'+
			            		            '<label for="recipient-name" class="col-form-label">Name:</label>'+
			            		            '<input type="text" class="form-control" id="recipient-name">'+
			            		            '<input type="hidden" id="tipoAdd" value="addEntity">'+
			            		          '</div>'+
			            		          '<div class="form-inline">'+
			            		            '<input type="checkbox" class="form-control mr-1" id="weak-entity"><span><label for="weak-entity">Is a weak entity.</label></span>'+
			            		          '</div>'+
			            		        '</form>';
            	    break;
            	  case "addRelation":
            		  insert = '<form id="formInsert">'+
			        				'<div class="form-group">'+
			  		            '<label for="recipient-name" class="col-form-label">Name:</label>'+
			  		            '<input type="text" class="form-control" id="recipient-name">'+
			  		            '<input type="hidden" id="tipoAdd" value="addRelation">'+
			  		          '</div>'+
			  		        '</form>';
            	    break;
            	  case "addAtribute":
            		  nodo = returnNodes();
            		  if(nodo.length>0){
	            		  insert = '<form id="formInsert">'+
				      				'<div class="form-group">'+
						            '<label for="elemens" class="col-form-label">Elements:</label>'+
						            '<select id="elements" class="form-control">';
						  				for(var i=0;i<nodo.length;i++){
						  					if(nodo.get(i).shape == "box" || nodo.get(i).shape == "diamond")
						  						insert += '<option value='+nodo.get(i).id+'>'+nodo.get(i).label+'</option>';
						  				}
						  				console.log(nodo);
						  insert += '</select>'+
						            '<label for="recipient-" class="col-form-label">Nombre:</label>'+
						            '<input type="text" class="form-control" id="recipient-name">'+
						            '<input type="hidden" id="tipoAdd" value="addRelation">'+
						          '</div>'+
						        '</form>';
            		 }else{
            			 insert = '<p class="text-center">Add an entity or a relation first</p>';
            		 }
              	    break;
            	  default:
            	}
            	$("#formModal").html(insert);
            });
            
        });
    </script>
<!-- Modal -->
<div class="modal fade" id="modalAddItem" tabindex="-1" role="dialog" aria-labelledby="modalAddItemTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleModal"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="formModal">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="insertModal">Insert</button>
      </div>
    </div>
  </div>
</div>
</body>

</html>