<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html"> </head>
<style>
h2{
 color: #343a40;
}
</style>
<body>
	 <div class="wrapper" style="height: 100%;">
        <!-- Sidebar  -->
        <nav th:replace="sidebar.html"> </nav>
        <!-- Sidebar  -->
        <!-- Page Content  -->
        <div id="wrapper" style="width: 100%;position: absolute;height: 100%;">
	    	<div class="pos-f-t">
	            <nav class="navbar navbar-dark mb-0" th:classappend="${theme=='dark'} ? bg-dark : 'bg-light'">
	            	<div class="col-3 col-md-4">
	            		<button type="button" id="loadFile" class="btn float-left" th:classappend="${theme=='dark'} ? btn-dark : btn-light" th:text="#{button.open}"></button>
	            	</div>
					<div class="col-6 col-md-4 text-center">
						<span class="" th:classappend="${theme=='dark'} ? text-light : text-dark">DBCASE WEB</span>
					</div>
					<div class="col-3 col-md-4 text-right">
						<div>
	             			<div class="dropdown">
								<img th:attr="src=${perfil.userAuthentication.Details.picture},alt=${perfil.userAuthentication.Details.given_name}" class="dropdown-toggle rounded-circle" width="50" height="50" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
								<div class="dropdown-menu" th:classappend="${theme=='dark'} ? bg-dark : bg-light" aria-labelledby="dropdownMenuButton" style="left: unset;right: 0;z-index: 1000000;">
								    <a class="dropdown-item text-center" th:classappend="${theme=='dark'} ? text-light : text-dark" th:text="#{general.saludo}+' '+ ${perfil.userAuthentication.Details.given_name}" ></a>
								    <a class="dropdown-item text-center" th:classappend="${theme=='dark'} ? text-light : text-dark" href="/logout" th:text="#{general.logout}"></a>
								    <div class="dropdown-divider"></div>
								    <a id="dropdownMenuLanguage" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle text-center" th:classappend="${theme=='dark'} ? text-light : text-dark" th:text="#{general.configuration}"></a>
						              <ul aria-labelledby="dropdownMenuLanguage" class="dropdown-menu border-0 shadow" th:classappend="${theme=='dark'} ? bg-dark : bg-light" style="left: 17px;">
						              	<h6 class="dropdown-header text-center" th:classappend="${theme=='dark'} ? text-light : text-dark" th:text="#{general.language}"></h6>
						                <li><a href="/lang?lang=es" class="changeOptions dropdown-item text-white" th:classappend="${language=='es'} ? (${theme=='dark'} ? 'text-light active' : 'active text-dark') : (${theme=='dark'} ? 'text-light' : 'text-dark')" th:text="#{general.es}"></a></li>
						                <li><a href="/lang?lang=en" class="changeOptions dropdown-item text-white" th:classappend="${language=='en'} ? (${theme=='dark'} ? 'text-light active' : 'active text-dark') : (${theme=='dark'} ? 'text-light' : 'text-dark')" th:text="#{general.en}"></a></li>
						                <div class="dropdown-divider"></div>
						                <h6 class="dropdown-header text-center" th:classappend="${theme=='dark'} ? text-light : text-dark" th:text="#{general.theme}"></h6>
						                <li><a href="/theme?theme=dark" class="changeOptions dropdown-item text-white" th:classappend="${theme=='dark'} ? active : 'text-dark'" th:text="#{general.dark}"></a></li>
						                <li><a href="/theme?theme=light" class="changeOptions dropdown-item text-white" th:classappend="${theme=='light'} ? active : 'text-light'" th:text="#{general.light}"></a></li>
						              </ul>
								</div>
							</div>
	             		</div>
	             	</div>
	            </nav>
	         </div>
          	<div  style="height: 87.27%;">
				<div class="row mr-0 changeSizeHeight col-md-6-height">
				  <div class="col-md-6 changeSizeWidth col-md-12-height overflow-auto" th:classappend="${theme=='dark'} ? 'text-white bg-dark' : 'text-dark bg-light'">
					<div id="diagram" class="w-100 h-100">
					</div>
					<button type="button" id="sidebarCollapse" class="btn" th:classappend="${theme=='dark'} ? btn-dark : btn-light" style="position: absolute;top: 0px;left: 15px;z-index: 10000;">
                        <span style="writing-mode: vertical-rl;text-orientation: upright;line-height: 0px;font-size: 12px;letter-spacing: -3px;" th:text="#{add.items}"></span>
                    </button>
                  </div>
				  <div class="col-md-6 changeSizeWidth paddingLeft col-md-12-height overflow-auto" th:classappend="${theme=='dark'} ? 'text-white bg-dark' : 'text-dark bg-light'">
					  	<div class="row pt-2 sticky-top" th:classappend="${theme=='dark'} ? bg-dark : bg-light">
						  <div class="col-6 col-md-6"><p class="h5 mt-2" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'" th:text="#{textos.logicalSchema}"></p></div>
						  <div class="col-6 col-md-6"><button id="saveAs" type="button" class="btn float-right ml-2" th:classappend="${theme=='dark'} ? btn-dark : btn-light" th:text="#{button.saveAs}"></button><button type="button" id="btnTest" class="btn float-right" th:classappend="${theme=='dark'} ? btn-dark : btn-light" th:text="#{button.generate}"></button></div>
						</div>
						<div class="w-100" id="testResult">
						</div>
				  </div>
				</div>
				<div class="row mr-0" style="height: 50%;">
				  <div class="col-md-6">.col-12 .col-md-8</div>
				  <div class="col-md-6">.col-6 .col-md-4</div>
				</div>
			</div>
            <div th:replace="footer.html"> </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
<!-- Modal -->
<div class="modal fade" id="modalAddItem" tabindex="-1" role="dialog" style="z-index: 10001;" aria-labelledby="modalAddItemTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleModal"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="formModal">
      </div>
      <div class="modal-footer" id="formModalButton">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="insertModal" disabled>Insert</button>
      </div>
    </div>
  </div>
</div>
<div th:replace="textJS.html"> </div>
<div th:replace="templatesModal.html"> </div>
</body>
</html>