<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html"> </head>


<body>
	 <div class="wrapper" style="height: 100%;">
        <!-- Sidebar  -->
        <nav th:replace="sidebar.html"> </nav>
        <!-- Sidebar  -->
        <!-- Page Content  -->
        <div id="wrapper" style="width: 100%;position: absolute;height: 100%;">
	    	<div class="pos-f-t">
	            <nav class="navbar navbar-dark mb-0" th:classappend="${theme=='dark'} ? bg-dark : 'bg-light'">
	            	<div class="col-3 col-md-4">
	            	</div>
					<div class="col-6 col-md-4 text-center">
						<span class="" th:classappend="${theme=='dark'} ? text-light : text-dark">DBCASE WEB</span>
					</div>
					<div class="col-3 col-md-4 text-right">
						<div>
	             			<div class="dropdown">
								<img th:attr="src=${perfil.userAuthentication.Details.picture},alt=${perfil.userAuthentication.Details.given_name}" class="dropdown-toggle rounded-circle" width="50" height="50" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
								<div class="dropdown-menu" th:classappend="${theme=='dark'} ? bg-dark : bg-light" aria-labelledby="dropdownMenuButton" style="left: unset;right: 0;">
								    <a class="dropdown-item text-center" th:classappend="${theme=='dark'} ? text-light : text-dark" th:text="#{general.saludo}+' '+ ${perfil.userAuthentication.Details.given_name}" ></a>
								    <a class="dropdown-item text-center" th:classappend="${theme=='dark'} ? text-light : text-dark" href="/logout" th:text="#{general.logout}"></a>
								    <div class="dropdown-divider"></div>
								    <a id="dropdownMenuLanguage" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle text-center" th:classappend="${theme=='dark'} ? text-light : text-dark" th:text="#{general.configuration}"></a>
						              <ul aria-labelledby="dropdownMenuLanguage" class="dropdown-menu border-0 shadow" th:classappend="${theme=='dark'} ? bg-dark : bg-light" style="left: 17px;">
						              	<h6 class="dropdown-header text-center" th:classappend="${theme=='dark'} ? text-light : text-dark" th:text="#{general.theme}"></h6>
						                <li><a href="/lang?lang=es" class="dropdown-item text-white" th:classappend="${language=='es'} ? (${theme=='dark'} ? 'text-light active' : 'active text-dark') : (${theme=='dark'} ? 'text-light' : 'text-dark')" th:text="#{general.es}"></a></li>
						                <li><a href="/lang?lang=en" class="dropdown-item text-white" th:classappend="${language=='en'} ? (${theme=='dark'} ? 'text-light active' : 'active text-dark') : (${theme=='dark'} ? 'text-light' : 'text-dark')" th:text="#{general.en}"></a></li>
						                <div class="dropdown-divider"></div>
						                <h6 class="dropdown-header text-center" th:classappend="${theme=='dark'} ? text-light : text-dark" th:text="#{general.language}"></h6>
						                <li><a href="/theme?theme=dark" class="dropdown-item text-white" th:classappend="${theme=='dark'} ? active : 'text-dark'" th:text="#{general.dark}"></a></li>
						                <li><a href="/theme?theme=light" class="dropdown-item text-white" th:classappend="${theme=='light'} ? active : 'text-light'" th:text="#{general.light}"></a></li>
						              </ul>
								</div>
							</div>
	             		</div>
	             	</div>
	            </nav>
	         </div>
          	<div  style="height: 87.8%;">
				<div class="row mr-0 changeSizeHeight col-md-6-height">
				  <div class="col-md-6 changeSizeWidth col-md-12-height overflow-auto">
					<div id="diagram" class="w-100 h-100">
					</div>
					<button type="button" id="sidebarCollapse" class="btn" th:classappend="${theme=='dark'} ? btn-dark : btn-light" style="position: absolute;top: 0px;left: 15px;z-index: 2;">
                        <span style="writing-mode: vertical-rl;text-orientation: upright;line-height: 0px;font-size: 12px;letter-spacing: -3px;" th:text="#{add.items}"></span>
                    </button>
                  </div>
				  <div class="col-md-6 changeSizeWidth col-md-12-height overflow-auto" th:classappend="${theme=='dark'} ? 'text-white bg-dark' : 'text-dark bg-light'">
					  	<div class="row pt-2 sticky-top" th:classappend="${theme=='dark'} ? bg-dark : bg-light">
						  <div class="col-6 col-md-6"><p class="h4 mt-2" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'" th:text="#{textos.logicalSchema}"></p></div>
						  <div class="col-6 col-md-6"><button type="button" class="btn float-right ml-2" th:classappend="${theme=='dark'} ? btn-dark : btn-light" th:text="#{button.saveAs}"></button><button type="button" id="btnTest" class="btn float-right" th:classappend="${theme=='dark'} ? btn-dark : btn-light" th:text="#{button.generate}"></button></div>
						</div>
						<div class="w-100" id="testResult">
						</div>
				  </div>
				</div>
				<div class="row mr-0" style="height: 50%;">
				  <div class="col-md-6">.col-12 .col-md-8</div>
				  <div class="col-md-6">.col-6 .col-md-4</div>
				</div>
			</div>
            <div th:replace="footer.html"> </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script type="text/javascript">
        $(document).ready(function () {
        	

       	 	 $('#btnTest').on('click', function () {
       		  //var url = "<c:url value="/generateData"/>";
       		  var f= 2;
       		  var myObj = {}; 
              myObj["data1"] = JSON.stringify(nodes.get()); 
              myObj["data2"] = JSON.stringify(edges.get()); 
              var json = JSON.stringify(myObj);
                
       		  $.ajax({
                     type: 'POST',
                     url: '/generateData',
                     data: json,
                     contentType: "application/json",
                     success: function (data) {
                         console.log("respuesta valida");
                         $("#testResult").html(data);
                     },
                     error: function (xhr, ajaxOptions, thrownError) {
                         console.log(xhr.status);
                         console.log(xhr.responseText);
                         console.log(thrownError);
                     }

                 });
            });
        	
        	
        	 $('.vis-zoomExtends').on('click', function () {
        		 $('.changeSizeWidth').toggleClass('col-md-6');
                 $('.changeSizeWidth').toggleClass('col-md-12');
                 $('.changeSizeWidth').toggleClass('col-md-6-height');
                 $('.changeSizeWidth').toggleClass('col-md-12-height');
                 $('.changeSizeHeight').toggleClass('col-md-6-height');
                 $('.changeSizeHeight').toggleClass('col-md-24-height');
             });
            $('#sidebarCollapse, .closeSide').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            
            $('.closeSide').on('click', function() {
                $('#titleModal').html(this.getAttribute("alt"));
                $('#tipoAdd').val(this.getAttribute("functionInsert"));
            });
            
            $('#addIsA').on('click', function() {
            	addIsA();
            });
      
            $('#insertModal').on('click', function() {
            	switch($('#tipoAdd').val()) {
	            	case "addConstrainst":
	            		addConstrainst($('input[name=listText\\[\\]]').serializeArray(),$('#idSelected').val(), $('#typeAction').val());
		          	    break;
		          	case "addEntity":
		          		addEntity($('#recipient-name').val(), $('#weak-entity').prop('checked'),$('#typeAction').val(),$('#idSelected').val());
		          	    break;
		          	case "addRelation":
		          		addRelation($('#recipient-name').val(),$('#typeAction').val(),$('#idSelected').val());
		          	    break;
		          	case "addAttribute":
		          		addAttribute($('#recipient-name').val(),$('#typeAction').val(),$('#idSelected').val(), $('#element').val(), $('#primaryKey').prop('checked'), $('#composite').prop('checked'), $('#notNull').prop('checked'), $('#unique').prop('checked'), $('#multivalued').prop('checked'), $('#domain').val(), $('#size').val());
		            	break;
		          	case "addEntitytoRelation":
		          		addEntitytoRelation($('#element').val(), $('[name=cardinality]:checked').val(), $('#roleName').val(), $('#minCardinality').val(), $('#maxCardinality').val(), $('#typeAction').val(),$('#idSelected').val());
		            	break;
		          	case "removeEntitytoRelation":
		          		removeEntitytoRelation($('#element').val(), $('#typeAction').val(),$('#idSelected').val());
		            	break;
		          	case "addIsA":
		            	break;
		          	  default:
		          	}
            	clean();
            });
            
            $('.insertarDatos').on('click', function() {
            	var insert = ""
            	var nodo_select = getNodeSelected();
            	switch($(this).attr("functionInsert")) {
            	  case "addConstrainst":
            		  insert = '<form id="formInsert">'+
            		  					'<div class="row">'+
            		  					  '<div class="col-10">'+
            		          				'<div class="form-group" id="inputList" style="height: 250px;overflow: auto;">'+
				            		            '<input type="text" name="listText[]" class="form-control" id="list0">'+
				            		            '<input type="hidden" id="tipoAdd" value="addConstrainst">'+
				            		            '<input type="hidden" id="typeAction" value="create">'+
							  		          	'<input type="hidden" id="idSelected" value="'+nodo_select+'">'+
			            		          	'</div>'+
			            		          '</div>'+
			            		          '<div class="col-2 pl-0">'+
			            		          	'<button type="button" class="btn btn-lg btn-block btn-dark" id="addList">+</button>'+
			            		          	'<button type="button" class="btn btn-lg btn-block btn-dark" id="removeList">-</button>'+
			            		          '</div>'+
			            		        '</div>'+
			            		        '</form>';
            	    break;
            	  case "addEntity":
            		  insert = '<form id="formInsert">'+
            		          				'<div class="form-group">'+
			            		            '<label for="recipient-name" class="col-form-label">Name:</label>'+
			            		            '<input type="text" class="form-control" id="recipient-name">'+
			            		            '<div class="invalid-feedback">'+$('#textErrorNameExist').text()+'</div>'+
			            		            '<input type="hidden" id="tipoAdd" value="addEntity">'+
			            		            '<input type="hidden" id="typeAction" value="create">'+
						  		          	'<input type="hidden" id="idSelected" value="'+nodo_select+'">'+
			            		          '</div>'+
			            		          '<div class="form-inline">'+
			            		            '<label for="weak-entity"><input type="checkbox" class="mr-1" id="weak-entity">Is a weak entity.</label>'+
			            		          '</div>'+
			            		        '</form>';
            	    break;
            	  case "addRelation":
            		  insert = '<form id="formInsert">'+
			        				'<div class="form-group">'+
			  		            '<label for="recipient-name" class="col-form-label">Name:</label>'+
			  		            '<input type="text" class="form-control" id="recipient-name">'+
			  		          	'<div class="invalid-feedback">'+$('#textErrorNameExist').text()+'</div>'+
			  		            '<input type="hidden" id="tipoAdd" value="addRelation">'+
			  		          	'<input type="hidden" id="typeAction" value="create">'+
			  		          	'<input type="hidden" id="idSelected" value="'+nodo_select+'">'+
			  		          '</div>'+
			  		        '</form>';
            	    break;
            	  case "addAtribute":
            		  nodo = getAllNodes(["box","diamond"]);
            		  if(nodo.length>0){
	            		  insert = '<form id="formInsert">'+
				      				'<div class="form-group">'+
						            '<label for="element" class="col-form-label">'+$('#textElements').text()+':</label>'+
						            '<select id="element" class="form-control">';
						  				for(var i=0;i<nodo.length;i++){
						  						if(nodo[i].id == nodo_select)
						  							var select = "selected";
						  						else
						  							var select = "";
						  						insert += '<option value='+nodo[i].id+' '+select+'>'+nodo[i].label+'</option>';
						  				}
						  insert += '</select>'+
						            '<label for="recipient-" class="col-form-label">Nombre:</label>'+
						            '<input type="text" class="form-control" id="recipient-name">'+
	            		            '<div class="invalid-feedback">'+$('#textErrorNameExist').text()+'</div>'+
						            '<div class="form-inline">'+  
	            		            	'<label for="primaryKey"><input type="checkbox" class="mr-1" id="primaryKey">'+$('#textPrimaryKey').text()+'</label>'+
	            		          	'</div>'+
	            		          	'<div class="form-inline">'+
            		            		'<label for="composite"><input type="checkbox" class="mr-1" id="composite">'+$('#textComposite').text()+'</label>'+
            		          		'</div>'+
	            		          	'<div class="form-inline">'+
	        		            		'<label for="notNull"><input type="checkbox" class="mr-1" id="notNull">'+$('#textNotNull').text()+'</label>'+
	        		          		'</div>'+
	            		          	'<div class="form-inline">'+
		    		            		'<label for="unique"><input type="checkbox" class="mr-1" id="unique">'+$('#textUnique').text()+'</label>'+
		    		          		'</div>'+
		        		          	'<div class="form-inline">'+
					            		'<label for="multivalued"><input type="checkbox" class="mr-1" id="multivalued">'+$('#textMultivalued').text()+'</label>'+
					          		'</div>'+
									'<label for="domain" class="col-form-label">'+$('#textDomain').text()+':</label>'+
						            '<select id="domain" class="form-control">'+
						            	'<option value="bit">BIT</option>'+
						            	'<option value="blob">BLOB</option>'+
						            	'<option value="char">CHAR</option>'+
						            	'<option value="date">DATE</option>'+
						            	'<option value="datetime">DATETIME</option>'+
						            	'<option value="decimal">DECIMAL</option>'+
						            	'<option value="float">FLOAT</option>'+
						            	'<option value="integer">INTEGER</option>'+
						            	'<option value="text">TEXT</option>'+
						            	'<option value="time">TIME</option>'+
						            	'<option value="varchar">VARCHAR</option>'+
						  			'</select>'+
						  			'<label for="size" class="col-form-label">'+$('#textSize').text()+':</label>'+
						            '<input type="number" class="form-control" id="size">'+
						            '<input type="hidden" id="tipoAdd" value="addAttribute">'+
						            '<input type="hidden" id="typeAction" value="create">'+
				  		          	'<input type="hidden" id="idSelected" value="'+nodo_select+'">'+
						          '</div>'+
						        '</form>';
            		 }else{
            			 insert = '<p class="text-center">'+$('#textNotEntitysRelation').text()+'</p>';
            		 }
              	    break;
            	  case "addEntitytoRelation":
            		  nodo = getAllNodes(["box"]);
            		  if(nodo.length>0){
	            		  insert = '<form id="formInsert">'+
				      				'<div class="form-group">'+
						            '<label for="element" class="col-form-label">'+$('#textItemEntity').text()+':</label>'+
						            '<select id="element" class="form-control">';
					           		for(var i=0;i<nodo.length;i++){
					  					insert += '<option value='+nodo[i].id+'>'+nodo[i].label+'</option>';
					  				}
						  insert += '</select>'+
						            '<label for="recipient-" class="col-form-label">'+$('#textCardinality').text()+':</label>'+
	            		            '<div class="form-inline">'+
							        	'<input class="form-check-input" type="radio" name="cardinality" id="max1" value="max1" checked>'+
							         	'<label class="form-check-label" for="max1">'+
							         		'Max 1'+
							         	'</label>'+
							        '</div>'+
							       	'<div class="form-inline">'+
							        	'<input class="form-check-input" type="radio" name="cardinality" id="maxN" value="maxN">'+
							        	'<label class="form-check-label" for="maxN">'+
							        		'Max N'+
							         	'</label>'+
							        '</div>'+
							        '<div class="form-inline">'+
							        	'<input class="form-check-input" type="radio" name="cardinality" id="minMax" value="minMax">'+
							        	'<label for="minMax" class="form-check-label col-11 pl-0 justify-content-start">'+
							        		'Min <input type="number" id="minCardinality" class="form-control col-2 ml-1 mr-1" disabled>'+
							        		'Max <input type="number" id="maxCardinality" class="form-control col-2 ml-1" disabled>'+
							        	'</label>'+
							        '</div>'+
									'<label for="domain" class="col-form-label">'+$('#textRoleName').text()+':</label>'+
									'<input type="text" class="form-control" id="roleName">'+
						            '<input type="hidden" id="tipoAdd" value="addEntitytoRelation">'+
						            '<input type="hidden" id="typeAction" value="create">'+
				  		          	'<input type="hidden" id="idSelected" value="'+nodo_select+'">'+
						          '</div>'+
						        '</form>';
            		 }else{
            			 insert = '<p class="text-center">'+$('#textNotEntitys').text()+'</p>';
            		 }
              	    break;
            	  case "removeEntitytoRelation":
            		  nodo = allEntitysToRelation(nodo_select);
            		  if(nodo.length>0){
	            		  insert = '<form id="formInsert">'+
				      				'<div class="form-group">'+
						            '<label for="element" class="col-form-label">'+$('#textQuitTheEntity').text()+':</label>'+
						            '<select id="element" class="form-control">';
					           		for(var i=0;i<nodo.length;i++){
					  					insert += '<option value='+nodo[i].id+'>'+nodo[i].label+' - '+nodo[i].role+'</option>';
					  				}
						  insert += '</select>'+
						            '<input type="hidden" id="tipoAdd" value="removeEntitytoRelation">'+
						            '<input type="hidden" id="typeAction" value="create">'+
				  		          	'<input type="hidden" id="idSelected" value="'+nodo_select+'">'+
						          '</div>'+
						        '</form>';
            		 }else{
            			 insert = '<p class="text-center">'+$('#textNotEntitys').text()+'</p>';
            		 }
              	    break;
            	  default:
            	}
            	setNodeSelected(null);
            	$("#formModal").html(insert);
            	
            	switch($(this).attr("functionInsert")) {
            		case "addEntitytoRelation":
            			eventsEntityToRelation();
            		break;
            		case "removeEntitytoRelation":
            			eventsRemoveEntityToRelation();
            		break;
              	 	default:
            	}
            	editList();
            	$("#primaryKey, #composite").change(function() {
            		if(($("#primaryKey").prop('checked') && $("#composite").prop('checked')) || 
            		   ($("#primaryKey").prop('checked') && !$("#composite").prop('checked'))){
            			$("[for='notNull'],[for='unique'],[for='multivalued']").toggle(false);            			
            		}
					if(!$("#primaryKey").prop('checked') && $("#composite").prop('checked')){
						$("[for='notNull'],[for='unique']").toggle(false);
						$("[for='multivalued']").toggle(true);
					}
					if(!$("#primaryKey").prop('checked') && !$("#composite").prop('checked')){
						$("[for='notNull'],[for='unique'],[for='multivalued']").toggle(true);  
					}						            		
           		});
            	
            	/*
            	Verifica que el campo no añada elementos con nombre de campos repetidos
            	*/
            	$( "#recipient-name" ).on( "blur keyup", function(){
            		  var nameValue = $( "#recipient-name" ).val();
            		  var tipoAdd = $( "#tipoAdd" ).val();
           			  if(!existElementName(nameValue, tipoAdd)){
            			  $('#insertModal').prop('disabled', false);
            			  $( "#recipient-name" ).removeClass("is-invalid");
           			  }else{
           				  $('#insertModal').prop('disabled', true);
           				  $( "#recipient-name" ).addClass("is-invalid");
           			  }
            	});
            	/*
            	Verifica que el campo de restriccion no este vacio
            	*/
            	$( "#list0" ).on( "blur keyup", function(){
          			var nameValue = $( "#list0" ).val();
         			if(nameValue == ""){
          				$('#insertModal').prop('disabled', true);
         			}else{
         				$('#insertModal').prop('disabled', false);
         			}
          		});
            	
            	$( ".insertarDatos" ).click(function() {
            		$('#insertModal').prop('disabled', true);
          		});
            });
        });
    </script>
<!-- Modal -->
<div class="modal fade" id="modalAddItem" tabindex="-1" role="dialog" aria-labelledby="modalAddItemTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleModal"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="formModal">
        
      </div>
      <div class="modal-footer" id="formModalButton">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="insertModal" disabled>Insert</button>
      </div>
    </div>
  </div>
</div>
<div th:replace="textJS.html"> </div>
</body>
</html>