<div class="textosJS d-none">
	<span id="textItemEntity" th:text="#{item.entity}"></span>
	<span id="addNewAttribute" th:text="#{textos.add}"></span>
	<span id="renameEntity" th:text="#{textos.rename}"></span>
	<span id="removeEntity" th:text="#{textos.remove}"></span>
	<span id="constraints" th:text="#{textos.constraints}"></span>
	<span id="tableUnique" th:text="#{textos.tableUnique}"></span>
	<span id="textPrimaryKey" th:text="#{textos.primaryKey}"></span>
	<span id="textComposite" th:text="#{textos.composite}"></span>
	<span id="textNotNull" th:text="#{textos.notNull}"></span>
	<span id="textUnique" th:text="#{textos.unique}"></span>
	<span id="textMultivalued" th:text="#{textos.multivalued}"></span>
	<span id="textDomain" th:text="#{textos.domain}"></span>
	<span id="textSize" th:text="#{textos.size}"></span>
	<span id="textElements" th:text="#{textos.elements}"></span>
	<span id="textErrorNameExist" th:text="#{textos.errorNameExist}"></span>
	<span id="textAddtRelation" th:text="#{textos.addtRelation}"></span>
	<span id="textEditRelation" th:text="#{textos.editRelation}"></span>
	<span id="textAddtEntity" th:text="#{textos.addEntity}"></span>
	<span id="textEditEntity" th:text="#{textos.editEntity}"></span>
	<span id="textAddtAttribute" th:text="#{textos.addAttribute}"></span>
	<span id="textaddNewRelation" th:text="#{textos.addNewRelation}"></span>
	<span id="textaddNewRelationIsA" th:text="#{textos.addNewRelationIsA}"></span>
	<span id="textaddNewEntity" th:text="#{textos.addNewEntity}"></span>
	<span id="textcreateDomain" th:text="#{textos.createDomain}"></span>
	<span id="textAddEntitytoRelation" th:text="#{textos.addEntitytoRelation}"></span>
	<span id="textRemoveEntitytoRelation" th:text="#{textos.removeEntitytoRelation}"></span>
	<span id="textEditCardOrRol" th:text="#{textos.editCardOrRol}"></span>
	<span id="textAddSubAtributte" th:text="#{textos.addSubAtributte}"></span>
	<span id="textAddParentEntity" th:text="#{textos.addParentEntity}"></span>
	<span id="textRemoveParentEntity" th:text="#{textos.removeParentEntity}"></span>
	<span id="textAddChildEntity" th:text="#{textos.addChildEntity}"></span>
	<span id="textRemoveChildEntity" th:text="#{textos.removeChildEntity}"></span>
	<span id="textNotEntitysRelation" th:text="#{textos.notEntitysRelation}"></span>
	<span id="textNotEntitys" th:text="#{textos.notEntitys}"></span>
	<span id="textCardinality" th:text="#{textos.cardinality}"></span>
	<span id="textRoleName" th:text="#{textos.roleName}"></span>
	<span id="textQuitTheEntity" th:text="#{textos.quitTheEntity}"></span>
</div>